.login{
  height: 100vh;
}
.login-hero{
  height: 100%;
  display: flex;
}

.login-first{
  display: flex;
  color: white;
  padding:20px;
  height: 40vh;
  background-color: var(--primary);
  width: 30%;
  border-radius: 25px;
  border: 4px solid var(--primary2);
}
.login-first > form{
  height: 70%;
}

.login-first input{
  border: 3px solid var(--primary2);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
  height: 20px;
  width: 100%;
}
.buttons-log{
  display: flex;
  width: 100%;
  gap: 2px;
  justify-content: space-around;
  height: 50%;
}
#forgot{
  width: 50%;
  border: black;
  padding: 10px;
  border-radius: 0 10px;
}

#login-button{
  padding: 10px;
  background-color: var(--primary2);
  width: 50%;
  border-radius: 10px 0px ;
}
#login-button:hover{
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.459);
  transform: 0.5s;
  background-color: black;
}